Repository utopia-rise/godot-kotlin, pull requests merged in 2020-03, with the labels that each got.

#54 Feature/android coroutines support
  .travis.yml
  .travis/deploy.sh
  COMPILING_FROM_SOURCE.md
  GETTING_STARTED.md
  build.gradle.kts
  samples/coroutines/Scenes/Main.tscn
  samples/coroutines/Scripts/Ball.gdns
  samples/coroutines/Scripts/MirrorBall.gdns
  samples/coroutines/kotlin/build.gradle.kts
  samples/coroutines/kotlin/src/main/kotlin/godot/samples/coroutines/Ball.kt
  samples/coroutines/kotlin/src/main/kotlin/godot/samples/coroutines/MirrorBall.kt
  samples/coroutines/kotlin/src/main/kotlin/godot/samples/coroutines/classes.json
  wrapper/godot-library-extension/build.gradle.kts
Labels: 0.1.0-3.2, bug, feature, samples:coroutines, wrapper:godot-library-extensions

#58 Fix deploy annotation-internal and add jvm deployment
  .travis/deploy.sh
  tools/annotations-internal/build.gradle.kts
  tools/annotations/build.gradle.kts
Labels: bug, tools:annotations

#61 Fix bug in entry generation where signal parameter strings where not escaped
  tools/entry-generator/src/main/kotlin/org/godotengine/kotlin/entrygenerator/generator/GDNativeFunctionBindingGenerator.kt
Labels: bug, tools:entry-generator

#64 Fix bindings wrong constructor call
  API_DIFFERENCES.md
  GETTING_STARTED.md
  README.md
  buildSrc/src/main/kotlin/Dependencies.kt
  samples/benchmark/bunnymark/kotlin/build.gradle.kts
  samples/benchmark/gamelife/kotlin/build.gradle.kts
  samples/coroutines/kotlin/build.gradle.kts
  samples/games/kotlin/build.gradle.kts
  tools/api-classes-generator/src/main/kotlin/Class.kt
  tools/godot-gradle-plugin/src/main/kotlin/org/godotengine/kotlin/gradleplugin/subplugin/KotlinGodotSubplugin.kt
Labels: 1.0.0-3.2, bug, tools:api-classes-generator
